<div class="container">
  <h2>Of and Form</h2>
  <br>
  <strong>Ex -1 (OF)</strong>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <p class="bg-light border round py-2 px-3"><strong>Data</strong>of("Rohit","Gajamam","Omkar")</p>
      <hr>
      <ul>
        <li id="ofcontainer"></li>
      </ul>
    </div>

    <div class="col-md-6">
      <p class="bg-light border round py-2 px-3"><strong>Data</strong>of(&#123; a:'Rohit',b:'Gajamam',c:'Shivaji'
        &#125;)</p>
      <hr>
      <ul>
        <li>
          <strong>R: </strong>{{obsmsg.a}}
        </li>
        <li>
          <strong>G: </strong>{{obsmsg.b}}
        </li>
        <li>
          <strong>S: </strong>{{obsmsg.c}}
        </li>
      </ul>
    </div>
  </div>
   <strong>Ex -2 (Form)</strong>
  <hr>
   <div class="row">
    <div class="col-md-4">
      <h3>Array</h3>
      <p class="bg-light border round py-2 px-3"><strong>Data</strong>of("Rohit","Gajamam","Omkar")</p>
      <hr>
      <ul>
        <li id="ofcontainer3"></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>with objects</h3>
      <p class="bg-light border round py-2 px-3"><strong>Data</strong>of("Rohit","Gajamam","Omkar")</p>
      <hr>
      <ul>
        <li id="ofcontainer4"></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>with String</h3>
      <p class="bg-light border round py-2 px-3"><strong>Data</strong>of("Rohit","Gajamam","Omkar")</p>
      <hr>
      <ul>
        <li id="ofcontainer4"></li>
      </ul>
    </div>
  </div>
</div>
